.form {
  height: 50rem;
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 3.2rem;
}

.form input {
  height: 5rem;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 2.8rem;
}

.form button {
  padding: 3rem;
  font-size: 3.2rem;
}
