@import "../variables";

.header {
  width: 100%;
  text-align: center;
  height: 10rem;
  padding: 2rem;

  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;

  h1 {
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
}

.btn-nav {
  z-index: 9999;
  cursor: pointer;
  display: block;
  border: none;
  background: none;

  box-shadow: 8px 9px 13px 0px rgba(66, 68, 90, 1);
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
}

.nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 0.4s ease-out;

  display: flex;
  justify-content: center;
}

.open {
  transform: translateX(0);
  background-color: rgba($color-primary, 0.9);
}

.closed {
  transform: translateX(100%);
}
