.btn {
  background-color: #f5f5f5;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;

  line-height: 1.42857;

  padding: 1.3rem 3rem;
}
