@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  min-height: 100vh;
  max-width: 100vw;
  background-color: $color-theme;

  display: flex;
  flex-direction: column;
}

main {
  /* overflow: hidden; */
  width: 100%;
  /* max-width: 60rem; */
}
